@font-face {
    font-family: 'Z003';
    src: url('../fonts/Z003-MediumItalic.ttf');
}


* {
    margin: 0%;
    padding: 0%;
}

body {
    background: #057885;
}

#titreLogin {
    color: #057885;
    font-family: 'Z003';
    font-weight: bold;
}

#identifiant,
#keyword {
    transition: scale 0.5s;
}

#identifiant:hover,
#keyword:hover {
    scale: 1.03;
    box-shadow: 6px 3px 10px #05788546,
        -6px 0px 10px #0578854a;
}

#connexion:hover {
    background: #057885;
    border: 1px outset #057885;
}

#formulaireInscription label,
#formulaireInscription input
#formulaireInscription select option {
    color: #057885;
}
